<div class="mdl-card mdl-shadow--2dp" ng-repeat="entry in requests">
	<div class="mdl-card__title" style="background-color: {{getColor(entry)}}">
		<h2 class="mdl-card__title-text">{{entry.serviceName}} / {{entry.serviceMethod}}</h2>
	</div>
	<div class="mdl-card__supporting-text">
		<ul>
			<li>Request Size: {{entry.request.length || 0}}</li>
			<li>Response Size: {{entry.response.length || 0}}</li>
			<li>Last Updated: {{getDate(entry.lastUpdated)}}</li>
			<li>Tags/Comments: {{entry.comments || 'none'}}</li>
		</ul>
	</div>
	<div class="mdl-card__actions mdl-card--border">
		<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-click="openItem(entry)">Open</a>
		<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-click="copyItem(entry)">Duplicate</a>
	</div>
	<div class="mdl-card__menu">
		<button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" id="copy-button-{{entry._guid}}">
			<i class="material-icons">delete</i>
		</button>
		<div class="mdl-tooltip" for="copy-button-{{entry._guid}}">Delete</div>
	</div>
</div>