<div class="jsrunner-v2 mdl-layout mdl-js-layout">
	<header class="mdl-layout__header mdl-layout__header--transparent">
		<div class="mdl-layout__header-row">
			<!-- Title -->
			<span class="mdl-layout-title mdl-shadow--2dp">Siebel Runner v2</span>
			<div class="mdl-layout-spacer"></div>
			<nav class="mdl-navigation">
				<a class="mdl-navigation__link" ui-sref-active="active" ui-sref="v2.main">Requests</a>
				<a class="mdl-navigation__link" ui-sref-active="active" ui-sref="v2.settings">Connection Profiles</a>
				<a class="mdl-navigation__link" ui-sref-active="active" ui-sref="v2.connections">Connections</a>
			</nav>
		</div>
	</header>
	<main class="mdl-layout__content" ui-view></main>
</div>